doctype html
html
    head
        style
            include style.css
    
    body
        h1 Voici le contenu du fichier

        table
            thead
                tr
                    th Name
                    th Location
            each value in list.users
                tr
                    td #{value.users}
                    td #{value.location}
